<section class='page-settings'>
  <form class='form'>
    <label class='form__avatar' for='avatar' title='Загрузить фото профиля'>
      {{{ChangeProfileAvatar}}}
      <input type='file' name='avatar' id='avatar' />
    </label>

    <div class='form__controls'>
      {{{ChangeProfileInputs}}}
      {{{ChangeProfileSave}}}
    </div>

  </form>

  <form class='form'>
    <h2>Изменить пароль</h2>
    <div class='form__controls'>
      {{{ChangePasswordInputs}}}
      {{{ChangePasswordSave}}}
    </div>
  </form>

  <div>
    <a href='/login' class='link-logout'>Выйти</a>
  </div>
</section>
