<form class='form form-auth'>
  <h1>{{title}}</h1>

  <div class='form__controls'>
    {{{InputsAuth}}}
  </div>

  <div class='form__actions'>
    {{{ButtonAuth}}}
    <a href='{{link.href}}'>{{link.text}}</a>
  </div>
</form>
