<section data-view='chat-users'>
  <div class='chat-users'>
    <div class='chat-users__header'>
      {{{back}}}
    </div>
    <div class='chat-users__body'>
      <div class='chat-users-items'>
        {{{addUsersInput}}}
        {{{addUsers}}}
        {{{addButton}}}
      </div>
      <div class='chat-users-items'>
        {{{deleteUsers}}}
        {{{deleteButton}}}
      </div>
    </div>
  </div>
</section>
