<a href='#' class='dialog-preview'>
  <div class='dialog-preview__avatar'>
    {{{UserAvatar}}}
  </div>
  <div class='dialog-preview__title'>
    <div class='message-title'>{{title}}</div>
    <div class='message-time'>{{time}}</div>
  </div>
  <div class='dialog-preview__subtitle'>
    <div class='message-text'>{{message}}</div>
    <div class='message-badge'>{{badge}}</div>
  </div>
</a>
